body{
    padding: 0;
    margin: 0;
}
span{
    display: inline-block;
}
.hi_head{
    display: block;
    height: 30px;
    width: 100%;
    background: black;
}
.nav_bar{
    display: block;
    width: 100%;
    height: 80px;
    background: tomato;
}
.container{
    background: violet;
    display: block;
    width: 59%;
    height: 100%;
    margin: 0 auto;
    white-space: nowrap;
}
#silan{
    width: fit-content;
    height: fit-content;
    white-space: nowrap;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-weight: 600;
    transform: translateY(50%);
    
   
}
.useless{
    float: right;
    display: inline-block;
    background: yellow;
    width: 71%;
    height: 100%;
}
.texts{
    background: teal;
    width: 60%;
    height: 100%;

}
.texts_el{
    display: inline-block;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 12px;
    margin-right: 33px;
    padding: 33px 0 0 0;
}

.strt_pg {
    display: block;
    width: 100%;
    height: 791px;
    background: hotpink;
}
#up_line{
  display: inline-block;
  background: lawngreen;
  margin-left: 540px;
  margin-top: 260px;
  margin-right: 115px;
  width: 205px;
}
#dwn_line1{
    display: block;
    background: indigo;
    margin-left: 390px;
    margin-right: 1000px;
    margin-top: 9px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 63px;
}
#dwn_line2{
    display: block;
    background: indigo;
    margin-left: 450px;
    margin-right: 1090px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 63px;

}

#dln{

}
.btnshp {
    display: block;
    background: #c61e6a;
    margin-left: 539px;
    margin-right: 1186px;
    margin-top:  45px;
    height: 50px;
    color: white;

}
#shp {
    padding: 17px;
    margin-left: 30px;
    margin-bottom: 4px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
}
.scnd_pg {
    display: block;
    width: 100%;
    height: 964px;
    background: white;
}
#ft_prct {
    display: inline-block;
    margin-left: 787px;
    margin-top: 148px;
    background: #c61e6a;
    width: 347px;
    height: 28px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: 700;
    
}

#frstblck{
    display: block;
    width: 360px;
    height: 451px;
    margin-left: 392px;
    margin-top: 86px;
    background: red;
}
#scndblck{
    display: inline-block;
    width: 360px;
    height: 451px;
    margin-left: 30px;
    margin-top: 860px;
    background: mediumturquoise;
}
#thrdblck{
    display: inline-block;
    width: 360px;
    height: 451px;
    margin-left: 30px;
    margin-top: 86px;
    background: teal;
}